.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
service-account*.json
credentials*.json
*.key.json
